.DS_Store
node_modules
/build
/.svelte-kit
/package
.vercel
.output
.vscode
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Panda
styled-system
styled-system-static

# Yarn
.yarn

# Environment
.env
.env.*
!.env.example
